<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Audio Analyzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}" />

</head>

<body style="background-color:beige;">

<div id="speechContainer">

    <h1>Upload New File</h1>

    <form method="post" enctype="multipart/form-data"> <!-- Multipart/form-data because file is being uploaded -->

        <input type="file" name="file" /> <!-- When input type is file, HTML automatically renders the "no file chosen" saying -->
        <br>
        <input type="submit" id="submitButton" value="Transcribe" />

    </form>

    {% if transcript != "" %}
    <div id="speechTranscriptContainer">

        <h1>Transcript</h1>
        <p id="speechText">{{transcript}}</p> <!-- Jinja variable: Loads in variable with index HTML page -->

    </div>
    {% endif %}

</div>

</body>

</html>